@model BharatCrafted.Models.product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div class="col-6 text-center">
    <img src="/images/@Model.image" style="width:100px ; height:100px ; border:1px solid black; border-radius:10px ;
        padding: 10px ;" alt="Cloth images" />
    <span>Id : <b>@Model.Id</b></span>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>